$colors: (
  neutral: (
    900: #212121,
    400: hsl(210, 10%, 33%),
    300: hsl(201, 11%, 66%),
    200: #f8f8f8,
    100: #ffffff,
  ),
  primary: (
    800: hsl(171, 66%, 44%),
    600: hsl(233, 100%, 69%),
    400: #ff6635,
    500: #dd4e11,
  ),
);
